* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:
        Roboto Condensed,
        sans-serif;
}

:root {
    --containerWidth: 1200px;
    --immunity-clr-primary: #006d47;
    --immunity-clr-secondary: #1a6349;
    --immunity-clr-black: #000000;
}

.immunity-container {
    width: min(100%, var(--containerWidth));
    margin-inline: auto;
}

.immunity-header {
    display: grid;
    grid-template-areas:
        '.         flower'
        'shield    flower'
        'title     flower'
        'subtitle  flower'
        "subtitle      ."

    ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1.3fr;

    row-gap: 1rem;
}

.immunity-header__shield {
    align-self: center;
}

.immunity-header_title {
    grid-area: title;
    font-weight: 400;
    font-size: 88.86px;
    align-self: flex-start;

    color: var(--immunity-clr-primary);
    line-height: 0.8;

}

.immunity-header__subtitle {
    position: relative;
    grid-area: subtitle;
    align-self: flex-end;
    font-size: 53.86px;
    font-weight: 400;
    color: var(--immunity-clr-primary);

}

.immunity-header__subtitle::after {
    content: url('assets/Vector\ 1.png');
    position: absolute;
    top: -270px;
    left: -40px;

}

.immunity-header__subtitle::before {
    content: url('assets/Vector\ 3.png');
    position: absolute;
    top: 35px;
    left: 355px;

}

.immunity-header__shield {
    grid-area: shield;
}

.immunity-header__flower {
    margin-top: 30px;
    grid-area: flower;
    align-self: center;
}

.immunity-world-inside {
    display: grid;
    grid-template-areas:
        'text-upper image-right image-right'
        'text-upper image-right image-right'
        'text-upper image-right image-right'
        'image-left text-lower text-lower'
        'image-left text-lower text-lower'
        'image-left text-lower text-lower'
    ;
    grid-template-rows: repeat(6, 145px);
    /* grid-template-columns: 50% 1fr 1fr; */
}

.immunity-world-inside__image_right {
    grid-area: image-right;
    grid-row: span 3;
    align-self: flex-end;
    justify-self: center;
    margin-right: 20%;
    z-index: 9999;
}

.immunity-world-inside__image_left {
    position: relative;
    grid-area: image-left;
    align-self: flex-start;
    justify-self: center;
}

.immunity-world-inside__image_left::after {
    content: url('assets/woman.png');
    position: absolute;
    top: -45%;
    left: -45%;
}

.immunity-world-inside__text_upper {
    display: flex;
    grid-area: text-upper;
    align-self: center;
    flex-direction: column;
    gap: 12px;
    align-self: flex-start;
    color: var(--immunity-clr-black);
    font-size: 17.859px;
    line-height: 24px;
}

.immunity-world-inside__text_lower {
    grid-area: text-lower;
    align-self: center;
    justify-self: flex-start;
}

.immunity-world-inside_subtitle {
    margin-bottom: 41px;
    font-size: 53.86px;
    color: var(--immunity-clr-primary);
    line-height: 24px;
}

.immunity-world-inside p {
    font-size: 17.859px;
    line-height: 24px;
}


.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}