* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --immunity-containerWidth: 1100px;
    --immunity-clr-primary: #006d47;
    --immunity-clr-secondary: #1a6349;
    --immunity-clr-black: #000000;
    --immunity-clr-grey: #a8a8a8;
    --immunity-clr-dark-grey: #2c2c2c;
    --immunity-clr-modal-bg: #6a9c39;
    --immunity-clr-modal-btn: #84b830;
    --immunity-clr-test-bg: #f8f8f8;
}

.immunity-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-family:
        Roboto Condensed,
        sans-serif;
}

.immunity-container {
    width: min(100%, var(--immunity-containerWidth));
    margin-inline: auto;
}

@media (min-width: 1024px) {
    .immunity-container {
        padding-inline: 2rem;
    }
}

@media (max-width: 1024px) {
    .immunity-container {
        width: 100%;
        margin-inline: 0;
    }
}

.immunity-header {
    display: grid;
    grid-template-areas:
        '.         flower'
        'shield    flower'
        'title     flower'
        'subtitle  flower'
        'subtitle      .';
    grid-template-rows: 1fr 1fr 1fr 1fr 1.3fr;
    row-gap: 1rem;
}

.immunity-header__shield {
    align-self: center;
}

.immunity-header_title {
    grid-area: title;
    font-weight: 400;
    font-size: 88.86px;
    align-self: flex-start;
    color: var(--immunity-clr-primary);
    line-height: 0.8;
}

.immunity-header__subtitle {
    position: relative;
    grid-area: subtitle;
    align-self: flex-end;
    font-size: 53.86px;
    font-weight: 400;
    color: var(--immunity-clr-primary);
    background-color: white;
    padding-inline: 2px;
}

.immunity-header__subtitle::after {
    position: absolute;
    top: 50%;
    content: '';
    width: 95%;
    height: 550px;
    border: 2px solid var(--immunity-clr-primary);
    border-top-right-radius: 25px;
    border-inline-start-color: transparent;
    border-inline-start-color: transparent;
    border-block-end-color: transparent;
}

.immunity-header__subtitle::before {
    position: absolute;
    bottom: 50%;
    left: -20px;
    content: '';
    width: calc(100% + 100px);
    height: 300px;
    z-index: -999;
    border: 2px solid var(--immunity-clr-primary);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-block-end-color: transparent;
    border-inline-end-color: transparent;
}

.immunity-header__shield {
    grid-area: shield;
}

.immunity-header__flower {
    margin-top: 30px;
    object-fit: contain;
    grid-area: flower;
    align-self: center;
}

.immunity-header__flower img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .immunity-header {
        margin-inline: auto;
        padding-inline: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
            'flower'
            'title'
            'subtitle';
        order: 1;
        text-align: center;
    }
    .immunity-header_title {
        font-size: 4rem;
    }
    .immunity-header__subtitle {
        margin-top: 3rem;
        text-align: left;
        font-size: 2rem;
    }
    .immunity-header__subtitle::after {
        display: none;
    }
    .immunity-header__subtitle::before {
        display: none;
    }
    .immunity-header__shield {
        display: none;
    }
}

@media (max-width: 1024px) {
    .immunity-header {
        padding-inline: 2rem;
    }
    .immunity-header__subtitle::after {
        position: absolute;
        top: 15vw;
        content: '';
        width: 50%;
        height: 300px;
        border: 2px solid var(--immunity-clr-primary);
        border-top-right-radius: 25px;
        border-inline-start-color: transparent;
        border-inline-start-color: transparent;
        border-block-end-color: transparent;
    }

    .immunity-header__subtitle::before {
        position: absolute;
        bottom: 100%;
        width: 60vw;
        left: 5%;
        content: '';
        height: 250px;
        z-index: -999;
        border: 2px solid var(--immunity-clr-primary);
        border-bottom-left-radius: 0;
        border-top-left-radius: 25px;
        border-block-end-color: transparent;
        border-inline-end-color: transparent;
    }
}

.immunity-world-inside {
    display: grid;
    margin-top: 1rem;
    grid-template-areas:
        'text-upper image-right image-right'
        'text-upper image-right image-right'
        'text-upper image-right image-right'
        'image-left text-lower text-lower'
        'image-left text-lower text-lower'
        'image-left text-lower text-lower';
    grid-template-rows: repeat(6, 145px);
}

.immunity-world-inside__image_right {
    grid-area: image-right;
    grid-row: span 3;
    align-self: flex-end;
    justify-self: center;
    margin-right: 20%;
    z-index: 9999;
}

.immunity-world-inside__image_left {
    position: relative;
    grid-area: image-left;
    align-self: flex-start;
    justify-self: center;
}

.immunity-world-inside__image_left::after {
    display: block;
    content: url('https://content.amwayservices.kz/assets/hybris-products/programs/immunity/assets/woman.png');
    position: absolute;
    top: -45%;
    left: -45%;
}

.immunity-world-inside__image_left::before {
    content: url('https://content.amwayservices.kz/assets/hybris-products/programs/immunity/assets/Vector.png');
    position: absolute;
    top: 37%;
    right: -27%;
    z-index: -999;
}

.immunity-world-inside__text_upper {
    display: flex;
    grid-area: text-upper;
    align-self: center;
    gap: 0.5rem;
    flex-direction: column;
    align-self: flex-start;
    color: var(--immunity-clr-black);
    font-size: 17.859px;
    line-height: 24px;
    background-color: white;
    z-index: 999;
}

.immunity-world-inside__text_upper p {
    margin-top: 0;
}

.immunity-world-inside__text_lower {
    grid-area: text-lower;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 4.5rem;
}

.immunity-world-inside_subtitle {
    font-size: 53.86px;
    font-weight: 400;
    color: var(--immunity-clr-primary);
    line-height: 1.1;
}

.immunity-world-inside__text_lower p {
    width: 70%;
    font-size: 17.859px;
    line-height: 24px;
}

@media (max-width: 1024px) {
    .immunity-world-inside {
        grid-template-rows: repeat(6, 200px);
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .immunity-world-inside__text_upper {
        grid-area: 1/1/2/3;
    }

    .immunity-world-inside__image_right {
        grid-area: 1/3/3/4;
        align-self: center;
        justify-self: center;
        margin: auto;
    }
    .immunity-world-inside__image_left {
        grid-area: 3/1/5/2;
        align-self: center;
        justify-self: center;
    }

    .immunity-world-inside__image_left::before {
        transform: scale(0.7);
    }

    .immunity-world-inside__text_lower {
        grid-area: 3/2/4/4;
        margin-top: 0;
    }

    .immunity-world-inside__image_left::after {
        top: -80%;
        left: -10%;
    }
    .immunity-world-inside__text_lower h2 {
        font-size: 2.5rem;
        font-weight: 400;
    }
    .immunity-world-inside__text_lower p {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .immunity-world-inside {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 1rem;
        order: 2;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .immunity-world-inside > * {
        margin: 0;
    }

    .immunity-world-inside__text_upper {
        order: 1;
        padding-inline: 2rem;
    }

    .immunity-world-inside__image_right {
        order: 2;
        margin: unset;
        justify-self: auto;
        align-self: auto;
    }
    .immunity-world-inside__image_left {
        order: 4;
        justify-self: auto;
        align-self: auto;
        width: 100%;
    }

    .immunity-world-inside__text_lower {
        order: 3;
        padding-inline: 2rem;
    }
    .immunity-world-inside__text_lower p {
        margin-top: 0.5rem;
    }
    .immunity-world-inside_subtitle {
        padding-inline: 0;
        font-size: 2rem;
    }

    .immunity-world-inside img {
        width: 100%;
    }
    .immunity-world-inside__image_left::after {
        display: none;
    }
    .immunity-world-inside__image_left::before {
        display: none;
    }
}

.immunity-organism {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.immunity-organism__title {
    width: 70%;
    line-height: 1.1;
    margin-inline: auto;
    font-size: 29.883px;
    text-align: center;
}

.immunity-organism-fugures {
    display: grid;
    width: 100%;
    margin-top: 46px;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
}

.immunity-organism-figure {
    display: grid;
    column-gap: 1rem;
    margin-inline: auto;
    text-align: center;
}

.immunity-organism-figure-anchor {
    position: relative;
}

.immunity-organism-figure-anchor:before {
    position: absolute;
    right: -15%;
    content: '';
    top: 60px;
    border: 2px solid var(--immunity-clr-primary);
    border-block-start-color: var(--immunity-clr-primary);
    border-inline-start-color: transparent;
    border-radius: 25px;
    width: 500px;
    height: 400px;
    z-index: -9999;
}

.immunity-organism-figure-anchor:after {
    position: absolute;
    right: 50%;
    content: '';
    top: 60px;
    border-block-start: 2px solid white;
    width: 500px;
    height: 400px;
    z-index: -9999;
}

.immunity-organism-figure img {
    margin: 0 auto 52px auto;
    padding-inline: 10px;
    background-color: white;
}

.immunity-organism-figure figcaption {
    margin-bottom: 20px;
}

.immunity-organism-figure button {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    color: var(--immunity-clr-grey);
}

.immunity-organism-figure button:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .immunity-organism {
        margin-top: 3rem;
        order: 3;
    }

    .immunity-organism__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        gap: 1rem;
    }

    .immunity-organism .immunity__dots {
        margin-block: 2rem;
    }

    .immunity-organism-fugures {
        display: grid;
        width: 100%;
        padding: 0;
        width: 100vw;
        margin-inline: auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .immunity-organism-figure {
        scroll-snap-align: center;
        width: 100vw;
    }

    .immunity-organism-figure-anchor:before {
        display: none;
    }

    .immunity-organism-figure-anchor:after {
        display: none;
    }
    .immunity-organism-figure {
        display: grid;
        place-items: center;
        margin: 0 auto;
    }
    .immunity-organism-figure figcaption {
        margin-bottom: 0;
    }
    .immunity-organism-figure button {
        margin-top: 0;
    }
    .immunity-organism-fugures::-webkit-scrollbar {
        display: none;
    }
}

.immunity-organism__video {
    display: grid;
    margin-top: 85px;
    grid-template-columns: 2fr 1fr;
}

.immunity-organism__video_hide {
    display: none;
}

.immunity-video-wrapper_btn:hover {
    cursor: pointer;
}

.immunity-video-wrapper {
    display: grid;
    place-items: center;
    width: min(100%, 750px);
    height: auto;
}

.immunity-video-wrapper > * {
    grid-area: 1/1;
}

.immunity-video-wrapper__cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.immunity-video-wrapper_hideiframe {
    z-index: -9999;
}

.immunity-organism__video img {
    align-self: center;
}

.immunity-organism__video p {
    position: relative;
    margin-top: 60px;
    margin-left: 2rem;
    width: 50%;
    align-self: center;
    justify-self: flex-start;
}

.immunity-organism__video p:before {
    content: url('https://content.amwayservices.kz/assets/hybris-products/programs/immunity/assets/playbtn.png');
    position: absolute;
    bottom: 15px;
    left: -45px;
}

@media (max-width: 768px) {
    .immunity-organism__video {
        display: none;
    }
    .immunity-organism__video {
        display: none;
    }
}

.immunity-leafs {
    margin-top: 86px;
    height: 486px;
    background: url('https://content.amwayservices.kz/assets/hybris-products/programs/immunity/assets/background.png');
}

.immunity-leafs__products {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    width: min(100%, var(--immunity-containerWidth));
    margin-inline: auto;
}

.immunity-leaf__product_img_wrapper {
    height: 486px;
    display: grid;
    place-items: center;
}

.immunity-leaf__product_img {
    height: 50%;
}

.immunity-leafs__product__desc {
    display: flex;
    height: 300px;
    padding: 25px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

.immunity-leafs__product__desc p {
    width: 80%;
}

.immunity-leafs__product__desk_title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.immunity-leafs__product__desk_title h3 {
    margin: auto;
    font-size: 1.5em;
}

.immunity-btn {
    margin-top: auto;
    padding: 13px 35px;
    border: none;
    background-color: var(--immunity-clr-primary);
    border-radius: 100px;
    color: white;
}

.immunity-btn:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .immunity-leafs {
        position: relative;
        height: 500px;
        background: none;
        order: 5;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .immunity-leafs:before {
        content: url('https://content.amwayservices.kz/assets/hybris-products/programs/immunity/assets/background.png');
        position: absolute;
        top: 0;
        height: 250px;
        width: calc(100%);
        z-index: -9999;
        overflow: hidden;
    }

    .immunity-leafs__products {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(4, 1fr);
        width: 100vw;
        margin-inline: auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .immunity-leafs__products::-webkit-scrollbar {
        display: none;
    }
    .immunity-leafs__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        overflow-y: hidden;
        scroll-snap-align: center;
    }
    .immunity-leaf__product_img_wrapper {
        height: 250px;
    }
    .immunity-leaf__product_img {
        height: 80%;
    }
    .immunity-leafs__product__desc {
        display: flex;
        height: 50%;
        width: 80%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .immunity-with-dots {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .immunity__dots {
        display: flex;
        gap: 0.4rem;
        margin-inline: auto;
    }
    .immunity__dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: var(--immunity-clr-grey);
    }
    .immunity__dot_active {
        background-color: var(--immunity-clr-secondary);
    }
}

.immunity-btn:hover {
    cursor: pointer;
}

.immunity-modal,
::backdrop {
    overscroll-behavior: contain;
}
body:has(.immunity-modal[open]) {
    overflow: hidden;
}

.immunity-modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.immunity-modal::-webkit-scrollbar {
    display: none;
}

.immunity-modal {
    width: 850px;
    align-self: center;
    justify-self: center;
    margin: auto;
    height: 90%;
    background-color: transparent;
    border: none;
    overflow-y: scroll;
}

.immunity-modal__content {
    height: 100%;
}

.immunity-modal__content__inner {
    height: 100%;

    width: 80%;
    margin-inline: auto;
}

.immunity-modal__btn-prev {
    display: inline-block;
}

.immunity-modal::backdrop {
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.75;
}

.immunity-modal__bg {
    position: relative;
    padding: 68px 32px 12px 32px;
    background: url('https://content.amwayservices.kz/assets/hybris-products/programs/immunity/assets/leafs.png');
    background-repeat: no-repeat;
    background-position: top right;
    overflow-x: hidden;
}

.immunity-modal__navbtn {
    display: grid;
    place-items: center;
    background-color: white;
    height: 56px;
    width: 56px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
}

.immunity-modal__navbtn:hover {
    cursor: pointer;
}

.immunity-modal__content__inner {
    background-color: var(--immunity-clr-modal-bg);
}

.immunity-modal__content {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.immunity-modal__bg_content {
    position: relative;
    display: grid;
    grid-template-columns: min(380px, 100%) 1fr;
}

.immunity-modal__closebtn {
    position: absolute;
    top: -60px;
    right: -25px;
    background-color: transparent;
    border: none;
}

.immunity-modal__closebtn:hover {
    cursor: pointer;
}

.immunity-modal__title {
    position: relative;
    display: flex;
    min-width: 380px;
    flex-direction: column;
    gap: 24px;
}

.immunity-modal__title::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: -32px;
    height: 32px;
    width: 850px;
    background-color: white;
}

.immunity-modal__title_img {
    width: fit-content;
}

.immunity-modal__title_text {
    width: 80%;
    line-height: 24px;
    color: white;
    font-family:
        Myriad Pro,
        Arial,
        Helvetica,
        sans-serif;
}

.immunity-modal__product_img {
    justify-self: center;
    align-self: flex-end;
    z-index: 999;
}

.immunity-modal__btn {
    position: relative;
    margin-top: auto;
    padding: 15px 35px;
    border-radius: 100px;
    font-size: 18px;
    border: none;
    z-index: 99;
    color: white;
    background-color: var(--immunity-clr-modal-btn);
}

.immunity-modal__btn:hover {
    cursor: pointer;
}

.immunity-modal__tips {
    position: relative;
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 26px;
    background-color: white;
}

.immunity-modal__tip {
    display: flex;
    align-items: center;
    gap: 20px;
}
.immunity-modal__tip {
    line-height: 30px;
}

.immunity-modal__tip span {
    color: var(--immunity-clr-secondary);
}

.immunity-modal__tip svg {
    flex-shrink: 0;
    align-self: flex-start;
}

.immunity-modal__tips_notes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 14px;
    line-height: 18px;
    color: var(--immunity-clr-grey);
}

@media (max-width: 768px) {
    .immunity-modal {
        width: 100%;
    }
    .immunity-modal__title {
        padding: 1rem;
    }

    .immunity-modal__title::after {
        display: none;
    }
    .immunity-modal__navbtn {
        display: none;
    }

    .immunity-modal__bg {
        padding: 0;
    }

    .immunity-modal__product_img {
        display: none;
    }
    .immunity-modal__closebtn {
        top: 20px;
        right: 15px;
        z-index: 999999;
    }
    .immunity-modal__tips {
        padding: 0.5rem 1rem;
        gap: 1rem;
    }
    .immunity-modal__tip p {
        line-height: 1.2;
    }
}

.immunity-mt-top-auto {
    margin-top: auto;
}

.immunity-test {
    margin-top: 350px;
    padding: 5rem 10rem;
}

.immunity-test__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--immunity-clr-test-bg);
}

@media (max-width: 768px) {
    .immunity-test {
        margin-top: 0;
        margin-bottom: 2rem;
        padding: 0;
        order: 4;
    }
    .immunity-test__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: var(--immunity-clr-test-bg);
    }
    .immunity-test__desc {
        padding: 2rem;
        align-items: center;
    }
    .immunity-test__img img {
        width: 100%;
    }
}

.immunity-test__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 2rem;
}

.immunity-test__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.immunity-test__title h3 {
    font-size: 53.86px;
    font-weight: 400;
    color: var(--immunity-clr-primary);
}

.immunity-test__desc p {
    width: 70%;
    line-height: 30px;
    font-size: 22px;
    color: var(--immunity-clr-black);
}

.immunity-test__desc_btn {
    width: fit-content;
    padding: 13px 35px;
    border: none;
    background-color: var(--immunity-clr-primary);
    color: white;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.immunity-test__desc_btn:hover {
    cursor: pointer;
}

.immunity__caution {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.immunity__caution img {
    width: 70%;
}

.immunity__caution {
    color: var(--immunity-clr-grey);
}

@media (max-width: 768px) {
    .immunity__caution {
        padding: 2rem;
        order: 6;
    }
    .immunity-test__title {
        text-align: center;
    }
}

.immunity__caution span {
    color: var(--immunity-clr-dark-grey);
}

.immunity-clr-secondary {
    color: var(--immunity-clr-secondary);
}

.immunity-fw-700 {
    font-weight: 700;
}

.immunity-modal {
    animation: immunity-fade-out 0.4s ease-out;
}

.immunity-modal[open] {
    animation: immunity-fade-in 0.4s ease-out;
}

.immunity-modal[open]::backdrop {
    animation: immunity-backdrop-fade-in 0.4s ease-out forwards;
}

/* Animation keyframes */

@keyframes immunity-fade-in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes immunity-fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes immunity-backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 70%);
    }
}
